@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Estilos gerais */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Estilos para a seção esquerda (imagem) */
.esq {
  flex: 1;
  padding: 20px;
}

.esq img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para a seção direita (formulário) */
.dir {
  flex: 1;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.card {
  text-align: center;
}

.h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.in {
  margin: 10px 0;
}

label {
  display: block;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.btn:hover {
  background-color: #45a049;
}

.text {
  text-align: center;
  margin-top: 20px;
}

.p {
  font-size: 16px;
}
